/*=========================navbar============================== */
 .buscaddor-codigo{
     max-width: 500px;
     margin-top: 40px;
     margin-bottom: 40px;
 }

 footer a{
    text-decoration: none;
  }

.btn-top{
  margin-top: 76px;
}

@media (max-width: 750px){ 

  .btn-top{
    margin-top: -10px;
  }
}




